link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/dataTable/css/dataTable.bootstrap.css')
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/dataTable/js/jquery.dataTables.js')
script(type='text/javascript', src='/dataTable/js/dataTable.bootstrap.js')
script(type='text/javascript', src='/js/jquery.dataTables.columnFilter.js')
script(type='text/javascript', src='/js/index.js')

div()
  table(id='datatable', cellpadding="0", cellspacing="0", border="0", class="table table-striped table-bordered table-hover")
    thead
      tr
        th STR
        th DATE
        th BOOL
        th NUM
        th SELECT FALSE
        th DATATABLE SELECT FALSE
    tfoot
      tr
        th str
        th date
        th bool
        th num
        th
        th
    tbody
