link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css')
script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js')
script(type='text/javascript', src='/js/index.js')

div()
  table(id='datatable', cellpadding="0", cellspacing="0", border="0", class="table table-striped table-bordered table-hover")
    thead
      tr
        th STR
        th DATE
        th BOOL
        th NUM
        th SELECT FALSE
        th DATATABLE SELECT FALSE
        th SUB MODEL
        th SUB MODEL ID
        th SUB TYPES TEST
        th MESSAGES ID
        th MESSAGES DESC
    tfoot
      tr
        th str
        th date
        th bool
        th num
        th
        th
        th
        th
        th
        th
        th
    tbody
